body{
    all: unset;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 53, 59, 23);
}

/* HOME */
nav{
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10em 0 15em 0;
    height: 40em;
    width: 50%;
}
#containerHome{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

#home{
    font-size: 15vw;
    line-height: .5em;
    margin-left: -92%;
}
#home2{
    font-size: 15vw;
    line-height: .5em;
    margin-left: 100%;
}
#cajon{
    margin-top: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
}
.links{
    text-decoration: none;
    font-size: 2.5em;
    font-weight: 100;
    color: blanchedalmond;
}
.links:hover{
    color: white;
}
/* REGLA DE LAS SECCIONES */
.secciones{
    all: unset;
    display: flex;
    flex-direction: column;
    padding: 10em 0;
    width: 100%;
}
h2{
    all: unset;
}
p{
    all: unset;
}
.containerTitle{
    align-self: center;
    margin-bottom: 10em;
}
.sectionTitle{
    font-size: 3.5em;
    font-weight: 200;
}
.font{
    font-family: 'Montserrat', sans-serif;
}
/* COLORES */
.lighter{
    color: blanchedalmond;
    background-color: rgba(0, 53, 59, 23);

}
.darker{
    color: rgba(0, 53, 59, 23);
    background-color: blanchedalmond;
}

/* ABOUT ME */
#containerAboutMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#containerText{
    width: 80%;
}
#aboutText{
    font-size: 13vw;
    font-weight: 200;
}

/* STUFF*/
#containerKnowledge{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#containerBoxes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    width: 80%;
}
.boxes{
    width: 30em;
    height: 30em;
    margin-bottom: 5em;
}

@media (max-width: 40em){
    #cajon{
        margin: 0;
        width: 100%;
        position: absolute;
        top:1em;
        justify-content: space-around;
    }
    .links{
        font-size: 1.5em;
    }
}