body{
    all: unset;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 53, 59, 23);

}

nav{
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 53, 59, 23);

}
#cajon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#home{
    font-size: 18em;
}
.links{
    text-decoration: none;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 168, 186, 73);
}
.links:hover{
    color: rgba(0, 226, 250, 98);
}

main{
    all: unset;
    width: 100vw;
    z-index: 1;

}
